<div data-role="collapsible-set">
    <h3>#= Name # (#= Translation #) - #= Arabic #</h3>
    <div data-role="collapsible">
        <h3>Introduction</h3>
        <p>#= Description #</p>
    </div>
    <div data-role="collapsible">
        <h3>Virtues</h3>
        <p>#= Virtues #</p>
    </div>
    <div data-role="collapsible">
        <h3>Chronology</h3>
        <p>This was revealed as the #= Chronology # in the #= Period # period.
            # if (PeriodExceptions) { #
            <br /><em>(#= PeriodExceptions #)</em>
            # } #
        </p>
    </div>
</div>

<a href="\#" data-role="button" data-rel="back" data-theme="b">Close</a>