/* Reveal menu shadow on top of the list items */
.ui-panel-display-reveal {
       -webkit-box-shadow: none;
       -moz-box-shadow: none;
       box-shadow: none;
}

.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open,
.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open {
       -webkit-box-shadow: -5px 0 5px rgba(0,0,0,.10);
       -moz-box-shadow: -5px 0 5px rgba(0,0,0,.10);
       box-shadow: -5px 0 5px rgba(0,0,0,.10);
}

.ui-btn-up-c {
    border: 1px solid #ddd;
}

a.ui-link-inherit {
    text-decoration: none;
}

.ui-listview > .ui-li {
    border-bottom: none;
}

/* For flat theme
.ui-panel .ui-btn-active {
    background-color: #eee;
}

.ui-panel .ui-btn-active a.ui-link-inherit {
    color: #000;
}

.ui-listview > .ui-li.jqmts {
    background-color: #eee;
}
*/